@import "settings.scss";

.card_container{
margin-top:5vh;
  margin-right:12vw;
}
.card{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:10px;
  height: 70vh;
  width: 60vw;
  margin: auto;
  background-color: $compname-color;
}
.name{
  color: $primary-color;
}
.logout_btn{
  margin-top: 100px;
  text-decoration: none;
  bottom: 50px;
  color: $primary-color;
}

.close {
  cursor:pointer;
  position: absolute;
  margin-left: 58vw;
  margin-bottom: 65vh;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  content: '';
  height: 40px;
  width: 3px;
  background-color: $primary-color;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.logo_color{
  color:$logo-color;
}


.flex-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height:30vh;
}
.flex-container::-webkit-scrollbar{
  display: none;
}
.flex-items {

  width: 12vw;
  color: $primary-color;
  p{
    font-size: 14px;
    font-weight: 200;
  margin:5px 0px;
  }
}

.button-success {
            background: rgb(28, 184, 65);
            /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60);
            /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20);
            /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221);
            /* this is a light blue */
        }