* {
  margin: 0;
}

body {
  background-color: #FBFBEB;
}

.company_name {
  color: #3A3C38;
  font-size: 2em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.nav {
  width: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #3A3C38;
  display: block;
  transition: 0.3s;
}

a:hover {
  font-weight: 500;
  font-size: 16px;
}

.box_to_change {
  width: 88vw;
  height: 100%;
}

.sex-switch {
  left: 10px;
  position: absolute;
}
.sex-switch a {
  color: #3A3C38;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sex-switch a:hover {
  color: #FBFBEB;
  background: #3A3C38;
}

.cart {
  right: 10px;
  position: absolute;
}

.login {
  right: 50px;
  position: absolute;
}

.newsletter_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FBFBEB;
  height: 70vh;
  background-color: #3A3C38;
}

.footer_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FBFBEB;
  border-top: 4px dashed #FBFBEB;
  height: 30vh;
  margin: 0;
  background-color: #3A3C38;
}

.button-dark span {
  cursor: pointer;
  position: absolute;
  top: 220px;
  left: 24px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-left: -32px;
  border-bottom: 2px solid #3A3C38;
  border-left: 2px solid #3A3C38;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrolling 1.5s infinite;
  animation: scrolling 1.5s infinite;
}
.button-dark.dark-skin {
  position: relative;
  margin-left: 2rem;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background: transparent;
}

@-webkit-keyframes scrolling {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    transform: rotate(-45deg) translate(-20px, 20px);
  }
}
.button-light span {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: -47vw;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-left: -32px;
  border-bottom: 2px solid #FBFBEB;
  border-left: 2px solid #FBFBEB;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrolling2 1.5s infinite;
  animation: scrolling2 1.5s infinite;
}
.button-light.light-skin {
  position: relative;
  margin-left: 2rem;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background: transparent;
}

@-webkit-keyframes scrolling2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(135deg) translate(0, 0);
    transform: rotate(135deg) translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(135deg) translate(-20px, 20px);
    transform: rotate(135deg) translate(-20px, 20px);
  }
}
.login_btn {
  background: transparent;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #F28383;
  color: #F28383;
  margin-bottom: 5px;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 32px;
}

.input_desc {
  color: #FBFBEB;
  margin: 5px;
  font-size: 10px;
  letter-spacing: 3px;
}

input {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
