@import "settings.scss";

*{
    margin:0;
}
*::-webkit-scrollbar{
  display: none;
}
body{
    background-color: $primary-color;
}
.company_name{
   color:$compname-color;
    font-size:2em;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
  height:10vh;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:90vh;

}
.nav{
    width:12vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


  a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #3A3C38;
    display: block;
    transition: 0.3s;
  }
  a:hover {
    font-weight: 500;
    font-size:16px;
  }
  }
.box_to_change{
      width:88vw;
      height: 100%;
}
.sex-switch{
  left:10px;
  position: absolute;
  display: flex;
  flex-direction: row;

  a {
    color: $compname-color;
    padding:5px 15px;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  a:hover{
    color: $primary-color;
    background: $compname-color;
  }
}

sex-switch a setx{
   color: red;
    background: $compname-color;
}

.cart{
  right:10px;
  position: absolute;


}
.login{
  right:50px;
  position: absolute;


}
.newsletter_box{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:$primary-color;
  height: 70vh;
  background-color: $compname-color;
}

.footer_box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color:$compname-color;
  margin: 0;
  padding-top:20px;
  background-color: #26272b;
}

.footer_col{
  display:flex;
  flex-direction: column;
  margin: 0 150px;
  h4{
  color: #FBFBEB;
  }
  a{
    font-size:12px;
    color: $grey;
    padding:5px 15px;
    margin:5px;
    float:left;
    margin-left: -14px;
  }
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.wavesfooter {
  position:relative;
  text-align:center;
  background: $compname-color;
  color:white;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}


.button-dark {
  span {
    cursor: pointer;
    position: absolute;
    top: 200px;
    left: 24px;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-left: -32px;
    border-bottom: 2px solid $compname-color; // arrows
    border-left: 2px solid $compname-color;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scrolling 1.5s infinite;
    animation: scrolling 1.5s infinite;
  }
  &.dark-skin {
    position: relative;
    margin-left: 2rem;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    background: transparent;
  }
}

@-webkit-keyframes scrolling {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    transform: rotate(-45deg) translate(-20px, 20px);
  }
}

.button-light {
  span {
    cursor: pointer;
    position: absolute;
    top: +21vh;
    left: -80vw;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-left: -32px;
    border-bottom: 2px solid $primary-color; // arrows
    border-left: 2px solid $primary-color;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scrolling2 1.5s infinite;
    animation: scrolling2 1.5s infinite;
  }
  &.light-skin {
    position: relative;
    margin-left: 2rem;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    background: transparent;
  }
}

@-webkit-keyframes scrolling2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(135deg) translate(0, 0);
    transform: rotate(135deg) translate(0, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(135deg) translate(-20px, 20px);
    transform: rotate(135deg) translate(-20px, 20px);
  }
}

.login_btn{
  background: transparent;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid $logo-color;
  color:$logo-color;
  margin-bottom: 5px;
  margin-top: 15px;
  cursor:pointer;
  text-decoration: none;
  font-size: 32px;
}
.input_desc{
  color: $primary-color;
  margin:5px;
  font-size:10px;
  letter-spacing: 3px;
}

input{
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}


.footer_col .social-icons a
{
  width:40px;
  height:40px;
  margin:4px;
  line-height:40px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.social-icons
{
  list-style:none;
    padding: 0px;
  margin-left:10px;
}
.social-icons li
{
  list-style:none;
    padding: 0px;
  margin:5px;
}
.social-icons a{
  padding: 0px;
  margin:0px;
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  text-align:center;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

