$font-stack: Helvetica, sans-serif;
$primary-color: #FBFBEB;
$compname-color: #3A3C38;
$logo-color: #F28383;
$grey: #9C9C94;
*{
    margin:0;
}
body{
    background-color: $primary-color;
}
.company_name{
   color:$compname-color;
    font-size:2em;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
  height:10vh;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:90vh;
    width:100vw;
}
.nav{
    width:10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $compname-color;
    display: block;
    transition: 0.3s;
  }
  a:hover {
    font-weight: 700;
    font-size:30px;
  }
}
.sex-switch{
  left:10px;
  position: absolute;

  a {
    color: $compname-color;
    padding:5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  a:hover{
    color: $primary-color;
    background: $compname-color;
  }
}
.items{
    height: 100%;
    width: 70vw;
    flex-wrap: wrap;
}
.item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 500px;
  margin:30px;

  img{
  height:auto;
    width:20vw;
  }
}
.item_data{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cart{
  right:10px;
  position: absolute;


}
.login{
  right:30px;
  position: absolute;


}
.login2{
  right:50px;
  position: absolute;


}