{% extends 'layout.html' %}

{% block style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
{% endblock %}


    {% block container %}

        <div class="items" >
                  <div >
    <h3 >Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div >
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div >
                <div >
                    <input  type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div >
                <div class="control">
                    <input  type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div >
                <label >
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button >Login</button>
        </form>
    </div>
</div>
        </div>
    {% endblock %}