{% extends 'layout.html' %}

{% block style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/profile.css') }}">
{% endblock %}

{% block container %}
    <div class="card_container">
        <div class="card" >
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="name">{{ messages[0] }}. Go to <a class="logo_color" style="text-decoration: none;" href="{{ url_for('auth.panel') }}">login page.</a></p>
                {% endif %}
            {% endwith %}

            <h1 class="name" style="margin:15px; text-transform:uppercase; letter-spacing: 3px">Registration</h1>

            <form method="POST" action="/signup" style="display: flex; flex-direction:column; justify-content: center; align-items: center">
                <div style="margin-bottom:15px;">
                    <p class="input_desc">EMAIL</p>
                    <input type="email" name="email" placeholder="Email" autofocus="">
                </div>

                <div style="margin-bottom:15px;">
                    <p class="input_desc" >NICKNAME</p>
                    <input type="text" name="name" placeholder="Name" autofocus="">
                </div>

                <div style="margin-bottom:15px;">
                    <p class="input_desc">PASSWORD</p>
                    <input  type="password" name="password" placeholder="Password">
                </div>
                <button class="login_btn">Create account</button>

            </form>
          <a href="{{"panel"}}" class="close"></a>
    </div>
    </div>
    {% endblock %}