<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
<div class="header">
     <h1 class="company_name">Python</h1>
     <img height="100px" width="100px" src="static/img/logo_transparent.png" alt="Python Squad">
     <h1 class="company_name">Squad</h1>
</div>
<div class="nav">
      <a href="new">New</a>
      <a href="sales" style="color:#F38383">Sales</a>
      <a href="clothes">Clothes</a>
      <a href="shoes">Shoes</a>
      <a href="accessories">Accessories</a>
      <a href="lookbook">Look Book</a>
</div>

</body>
</html>