{% extends 'layout.html' %}

    {% block nav %}
              <a href="new">New</a>
              <a href="sales" style="color:#F38383">Sales</a>
              <a href="clothes">Clothes</a>
              <a href="shoes">Shoes</a>
              <a href="accessories">Accessories</a>
              <a href="lookbook">Look Book</a>
    {% endblock %}

    {% block container %}
        <div class="items" >
                    {% for el in items_table[sex][items]%}
                        <div class="item" >
                            <img src="{{ el.url }}">
                            <div class="item_data">
                                <p>{{ el.name }}</p>
                                <p>DESC {{ el.desc }}</p>
                                <p>Price: {{ el.price }}</p>
                            </div>
                            <form action="{{ url_for('AddCart') }}" method="post">
                                <input type="hidden" name="product_name" value="{{ el.name }}">
                                <input type="hidden" name="product_price" value="{{ el.price }}">
                                <button type="submit">Add to cart</button>
                            </form>
                        </div>
                    {% endfor %}
        </div>
    {% endblock %}