{% extends 'layout.html' %}

{% block style %}
     <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/cart.css') }}">
{% endblock %}

{% block container %}
        <div class="cart_back" >

            <h1 class="title">MY BASKET ( {{ quantity }} )</h1>
            <div class="cart_items">
                {% if cart %}
                    {% for key,el in cart.items() %}
                        <div class="cart_item">
                            <div class="image-storage">
                                <img src="{{ el.image }}"/>
                            </div>
                            <div class="image-desc">
                                <p><b>{{ el.price }}PLN</b></p>
                                <p style="margin-top: 10px">{{ key }}</p><br>
                                <p>{{ el.desc }}</p><br>
                                <p>x{{ el.quantity }}</p><br>

                            </div>
                            <form  method="post" action="/deleteitem">
                                <input type="hidden" name="product_id" value="{{ key }}">
                                <button class="custom-btn" type="submit">Delete item</button>
                            </form>
                        </div>
                    {% endfor %}
                    </div>
                    <form class="promocode" autocomplete="off" method="POST" action="/cart" style="display: flex; flex-direction:column; justify-content: center; align-items: center">
                        <div style="margin-bottom:15px;">
                            <p class="title" style="margin:5px">Promotional code</p>
                            <input   name="code" placeholder="Enter code" autofocus="">
                        </div>
                        <button class="custom-btn" style="background: linear-gradient(0deg, #F28383 0%, rgba(190,70,70,1) 100%); "><span>Add</span></button>
                    </form>
                    <form autocomplete="off" method="POST" action="/order" class="frame">
                     <input type="hidden" name="total_price" value="{{ total }}">
                      <button class="custom-btn btn-12"><span>Buy now</span><span>Process Order</span></button>
                    </form>
                    <div class="sum">
                        <h3 class="title">TOTAL: {{total}} PLN</h3>
                        <button href="cartdelete" class="custom-btn" style="background: linear-gradient(0deg, #F28383 0%, rgba(190,70,70,1) 100%);">Clear Basket</button>
                    </div>

                {% else %}
                   <h2>No Items in your cart yet</h2>
                {% endif %}
            </div>
        </div>
 {% endblock %}