{% extends 'layout.html' %}

{% block style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/items.css') }}">
{% endblock %}

    {% block container %}

        <div class="items" >
                    {% for el in items_table %}
                        <div class="item" >
                            <img  src="{{ el.url }}">
                            <div class="item_data">
                                <p>{{ el.name }}</p>
                                <br>
                                <p>{{ el.desc }}</p>
                                <br>
                                <p>{{ el.price }}PLN</p>
                            </div>
                            <form class="add_button" action="{{ url_for('AddCart') }}" method="post">
                                <input type="hidden" name="product_name" value="{{ el.name }}">
                                <input type="hidden" name="product_price" value="{{ el.price }}">
                                <button type="submit">Add to cart</button>
                            </form>
                        </div>
                    {% endfor %}
        </div>
    {% endblock %}

{% block newsletter %}
    <div class="newsletter_box">

       <h1>newslet22ter</h1>
    </div>

 {% endblock %}

{% block footer %}
     <div class="footer_box">

       <h1>foot</h1>
    </div>
 {% endblock %}