{% extends 'layout.html' %}

{% block style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/items.css') }}">
{% endblock %}

    {% block container %}

        <div class="items" >
                    {% for el in items_table %}
                        <div class="item" >
                        <div class="image-storage">
                               <img  src="{{ el.url }}">
                        </div>

                            <div class="item_data">
                                <p>{{ el.name }}</p>
                                <!-- <br><p>desc</p> -->
                                <br>
                                <p><b>{{ el.price }}PLN</b></p>
                            </div>
                            <form class="add_button" action="{{ url_for('AddCart') }}" method="post">
                                <input type="hidden" name="product_name" value="{{ el.name }}">
                                <button type="submit">Add to cart</button>
                            </form>
                        </div>
                    {% endfor %}
        </div>
    {% endblock %}