<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Squad Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block changestyle %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    {% endblock %}
         {% block style %}{% endblock %}
<style>
ul, #myUL {
  list-style-type: none;
}
li {
    list-style: none;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #3A3C38;
    display: block;
    transition: 0.3s;
}
li a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #3A3C38;
    display: block;
    transition: 0.3s;
  }
li a:hover {
    font-weight: 500;
    font-size:16px;
  }

li:hover {
    font-weight: 700;
    font-size:25px;
  }
.box {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.box::before {
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.check-box::before {
  color: dodgerblue;
}

.nested {
  display: none;
}

.active {
  display: block;
}
</style>
</head>
<body>
    <div class="header" id="header">
         <form class="sex-switch" action="/">
                <a id="menswitch" href="/men">Men</a>
                <a id="womenswitch"  href="/women">Women</a>
         </form>
         <h1 class="company_name">Python</h1>
         <img height="90%" width="90px" src="/static/img/logo_transparent.png" alt="Python Squad">
         <h1 class="company_name">Squad</h1>
        <a href={{"/cart"}} class="cart"><img height="40px" width="40px" src="/static/img/cart.svg" alt="Cart" ></a>
        <a href={% if current_user.is_authenticated %}{{"/user"}}{% else %}{{"/panel"}}{% endif %} class="login"><img height="44px" width="44px" src="/static/img/account.png" alt="Cart" >{{session['cart']|length}}</a>
    </div>
    <div class="container">

        <div class="nav">



                  <li><span class="box" href={% if items %}{{"new"}}{% else %}{{ sex +"/new"}}{% endif %}>New</span>
                    <ul class="nested">
                        <a href={{"/"+ sex + "/new/jackets" }}>Jackets and coats</a>
                        <a href={{"/"+ sex + "/new/tshirts" }}>T-shirts</a>
                        <a href={{"/"+ sex + "/new/jeans" }}>Jeans</a>
                    </ul>
                  </li>
                <li style="color:#F38383"><span class="box" href={% if items %}{{"sales"}}{% else %}{{ sex +"/sales"}}{% endif %}>Sales</span>
                    <ul class="nested">
                        <a href={{"/"+ sex + "/sales/jackets" }} style="color:#F38383">Jackets and coats</a>
                        <a href={{"/"+ sex + "/sales/tshirts" }} style="color:#F38383">T-shirts</a>
                        <a href={{"/"+ sex + "/sales/jeans" }}  style="color:#F38383">Jeans</a>
                    </ul>
                </li>
                <li><span class="box" href={% if items %}{{"clothes"}}{% else %}{{ sex +"/clothes"}}{% endif %}>Clothes</span>
                    <ul class="nested">
                        <a href={{"/"+ sex + "/clothes/jackets" }}>Jackets and coats</a>
                        <a href={{"/"+ sex + "/clothes/sweaters" }}>Sweaters and cardigans</a>
                        <a href={{"/"+ sex + "/clothes/tshirts" }}>T-shirts</a>
                        <a href={{"/"+ sex + "/clothes/shirts" }}>Shirts</a>
                        <a href={{"/"+ sex + "/clothes/jeans" }}>Jeans</a>
                        <a href={{"/"+ sex + "/clothes/shorts" }}>Shorts</a>
                        <a href={{"/"+ sex + "/clothes/trousers" }}>Trousers</a>
                    </ul>
                </li>
                <li><span class="box" href={% if items %}{{"shoes"}}{% else %}{{ sex +"/shoes"}}{% endif %}>Shoes</span>
                    <ul class="nested">
                        <a href={{"/"+ sex + "/shoes/trainers" }}>Trainers</a>
                        <a href={{"/"+ sex + "/shoes/sneakers" }}>Sneakers</a>
                        <a href={{"/"+ sex + "/shoes/smart" }}>Smart Shoes</a>
                    </ul>
                </li>
                <li><span class="box" href={% if items %}{{"accessories"}}{% else %}{{ sex +"/accessories"}}{% endif %}>Accessories</span>
                    <ul class="nested">
                        <a href={{"/"+ sex + "/accessories/caps" }}>Caps and hats</a>
                        <a href={{"/"+ sex + "/accessories/jewellery" }}>Jewellery</a>
                        <a href={{"/"+ sex + "/accessories/glasses" }}>Glasses</a>
                        <a href={{"/"+ sex + "/accessories/backpacks" }}>Backpacks</a>
                        <a href={{"/"+ sex + "/accessories/belts" }}>Belts</a>
                        <a href={{"/"+ sex + "/accessories/socks" }}>Socks</a>
                    </ul>
                </li>
                <a style="text-decoration: none; font-size: 25px; padding: 8px 8px 8px 32px;" href={{"/"+ sex + "/lookbook" }}>Look Book</a>
        <a onclick="Scroll('footer')" class="button-dark dark-skin" ><span></span></a>
        </div>

        <div class="box_to_change">
               {% block container %}{% endblock %}
        </div>

    </div>



    <div id="newsletter" class="newsletter_box">
    <h1>10% discount for our subscribers!</h1>
        <h3>Subscribe to our newsletter and you’ll get a 10% off your next order, exclusive promos and many good news!</h3>
         <form method="POST" action="{{ url_for('subscribe') }}" >
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                <div style="margin-top: 15px">
                    <input  type="text" name="name" id="name" placeholder="Your Name" >
                </div>
                <div style="margin-top: 5px">
                    <input  type="email" name="email" id="email" placeholder="Your Email" >
                </div>
                <div style="margin-top: 15px">
                    <input type ="submit" name="subscribe" value="Subscribe">
                </div>
                <div style="margin-top: 5px">
                    <input type ="submit"  name="unsubscribe"  value="Unsubscribe">
                </div>
            </div>

        </form>
    </div>


    <div class="wavesfooter">
        <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#a7d3a6" />
        <use xlink:href="#gentle-wave" x="48" y="2" fill="#CFE795" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="#ADD2C2" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgb(38, 39, 43,1)" />
        </g>
        </svg>
        </div>
    </div>

    <div class="footer_box">

             <div class="footer_col">
                 <h4>CONTACT</h4>
                 <a>+48 525 235 153</a>
                 <a>From Mondays to Fridays from 09:00 to 18:00.</a>
                 <hr>
                 <a>Send email We'll reply asap</a>
                 <a>pythonsquad@contact.com</a>
             </div>
             <div class="footer_col" >
                 <h4>QUICK LINKS</h4>
                 <a>About us</a>
                 <a>Terms and conditions of purchase</a>
                 <a>Privacy policy</a>
                 <a>Cookies policy</a>
                 <a>Contribute</a>
                 <a id="footer">Sitemap</a>
             </div>
             <div class="footer_col" >
                 <h4>SOCIAL MEDIA</h4>
                 <ul class="social-icons">
              <li><a class="facebook" ><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
             </div>
         <a  onclick="Scroll('header')" class="button-light light-skin" ><span></span></a>
    </div>

    <script>
        function Scroll(x) {
            document.getElementById(x).scrollIntoView({
                  behavior: 'smooth', // smooth scroll
                  block: 'end' // the upper border of the element will be aligned at the top of the visible part of the window of the scrollable area.
            })
        }
        var toggler = document.getElementsByClassName("box");
        var i;

        for (i = 0; i < toggler.length; i++) {
          toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("check-box");
          });
        }
        var mensw = document.getElementById("menswitch");
        var womensw = document.getElementById("womenswitch");
        {% if sex == "men" %}
            mensw.parentElement.querySelector(".sex-switcher").classList.toggle("setx");
        {% else %}
            womensw.classList.toggle("setx");
        {% endif %}
    </script>
</body>
</html>