{% extends 'layout.html' %}

{% block style %}
     <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/cart.css') }}">
{% endblock %}

{% block container %}
    {% if cart %}
            <div class="cart_back" >
                <h1 class="title">Congratulations!</h1>
                <h4 class="title">You just make succesfull transaction</h4>
                <h4 class="title">Now wait for email confirmation and your package :)</h4>
            </div>
    {% else %}
            <div class="cart_back" >
                <h1 class="title">Your order details</h1>
                <div class="cart_items">
                    {% if data %}
                        {% for key,el in data.orders.items() %}
                                <div class="order_item">
                                    <p >{{ key }}</p><br>
                                    <p>{{ el.description }}</p><br>
                                    <p>x{{ el.quantity }}</p><br>
                                    <p><b>{{ el.price }}PLN</b></p>
                                </div>
                        {% endfor %}
                        </div>
                        <div >
                        </div>
                    {% endif %}
                </div>
            </div>
    {% endif %}
 {% endblock %}